@model ConferenceSystem.Models.EventSeminar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EventSeminar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationFees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationFees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxAttendees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxAttendees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByUser.ConfirmPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EventId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
