@model User

@{
    ViewData["Title"] = "Login";
}

<div class="center-container">
  <div>
    <h2>Login</h2>

    @using (Html.BeginForm("Login", "Home"))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">

            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <button type="submit" class="btn btn-primary button-style">Login</button>
        </div>

    }
   </div>
</div>